.proj{
    margin-top: 3px;
}
.pro{
    display: flex;
    column-gap: 3%;
    
}
.pro a{
    color: black;
    text-decoration: unset;
}
.pro>div>h5{
    line-height: 25px;
}
.dis{
    font-size: 12px;
}
.list{
    margin-left: 8%;
    font-size: 10px;
}
.techstack{
    font-size: 12px;
}
.features{
    line-height: 25px;
}