.n-left-container,
.n-profile-div,
.n-total-details-div,
.n-contact-section,
.n-education-section,
.n-technical-section,
.n-tech,
.n-softskills-section,
.n-interest-section,
.n-achievements-section,
h3 ,p{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}
.n-left-container {
  box-sizing: border-box;
  position: absolute;
  width: 220px;
  height: 842px;
  left: 0px;
  top: 0px;
  background: #fcf0f1;
  border-right: 1px solid #ffd5d8;
  padding-right: 26px;
}

.n-profile-div {
  position: absolute;
  width: 251.36px;
  height: 160.71px;
  left: -85.36px;
  top: -22.79px;
  /* border: 1px solid black; */
  margin-top: 18.21px;
}

.n-profile-div > img {
  box-sizing: border-box;
  position: absolute;
  width: 120px;
  height: 120px;
  right: 0;
  top: 20px;
  background: #ffffff;
  border: 4px solid #ffd5d8;
  border-radius: 100px;
  object-fit: cover;
}

.n-total-details-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 188px;
  height: 478px;
  left: 16px;
  top: 160px;
  /* border: 1px solid black; */
}

.n-contact-section {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 188px;
  height: 130px;
}
.heading03{
  width: 188px;
  height: 22px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.02em;

  /* Primary/Red900 */

  color: #0a0103;
}

.n-contact-section > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 188px;
  height: 100px;
  /* border: 1px solid red; */
}

.n-contact-section > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 188px;
  height: 16px;
}



.n-contact-section > div > div>div>.css-i4bv87-MuiSvgIcon-root{
  /* position: absolute; */
  width: 16px;
  height: 16px;
  /* left: 1.33px; */
  /* top: 2.67px;  */
  color:#4B4BDA;
}

.n-info {
  width: 168px;
  height: 16px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none ;
  /* Neutral/Grey800 */

  color: #3b3435;
}

.n-education-div{
  /* border:1px solid red; */
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
margin-top: 25px;
width: 188px;
height: 74px;  
}

.n-education-div>div{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 35px;
width: 188px;
height: 74px;
}

.n-education-div>div>div{
  /* Auto layout */
  /* border: 1px solid red; */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;
width: 188px;
/* height: 16px; */
}

.n-education-div>div>div>.css-i4bv87-MuiSvgIcon-root{
  color:#4B4BDA;
}

.n-technical-section{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;
margin-top:45px;
width: 188px;
height: 50px;
/* border:1px solid red; */
}

.n-softskills-section{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;
width: 188px;
height: 50px;
margin-top: -10px;
}


.n-interest-section{
  margin-top: 10px;
}

.n-achievements-section{
  display: flex;
  flex-direction: column;
  gap:5px;
}
  .n-list{
    width: 168px;
  /* height: 16px; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none ;
  }
  