.n-left-container,
.n-profile-div,
.n-total-details-div,
.n-contact-section,
.n-education-section,
.n-technical-section,
.n-tech,
.n-softskills-section,
.n-interest-section,
.n-achievements-section{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.n-left-container *{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}


.n-left-container {
  box-sizing: border-box;
  position: absolute;
  width: 220px;
  height: 842px;
  left: 0px;
  top: 0px;
  background: #fcf0f1;
  border-right: 1px solid #ffd5d8;
  padding-right: 26px;
}

.n-profile-div {
  position: absolute;
  width: 251.36px;
  height: 160.71px;
  left: -85.36px;
  top: -22.79px;
  /* border: 1px solid black; */
  margin-top: 18.21px;
}

.n-profile-div > img {
  box-sizing: border-box;
  position: absolute;
  width: 120px;
  height: 120px;
  right: 0;
  top: 20px;
  background: #ffffff;
  border: 4px solid #ffd5d8;
  border-radius: 100px;
  object-fit: cover;
}

.n-total-details-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  position: absolute;
  width: 188px;
  /* height: 478px; */
  left: 16px;
  top: 160px;
  /* border: 1px solid black; */
}

.n-contact-section {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 188px;
  margin-top: -18px;
}
.heading03{
  width: 188px;
  height: 22px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.02em;

  /* Primary/Red900 */

  color: #0a0103;
}

.n-contact-section > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 188px;
  /* height: 100px; */
  /* border: 1px solid red; */
  margin-top: -5px;
}

.n-contact-section > div > div {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 188px;
  height: 100%;
  /* border: 1px solid black; */
}

.n-contact-section>div>div>div{
  /* border:1px solid black; */
  display:grid;
  place-content: center;
  width:16px;
  /* height: 16px; */
}

.n-contact-section > div > div>div>.css-i4bv87-MuiSvgIcon-root{
  /* position: absolute; */
  width: 16px;
  /* left: 1.33px; */
  /* top: 2.67px;  */
  color:#4B4BDA;
}

.n-info,.s-n-info {
  width: 188px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none ;
  /* text-align: justify; */
  padding: 5px 0 5px 0;
  /* Neutral/Grey800 */
  /* border:1px solid black; */

  color: #3b3435;
}

.s-n-info{
  text-align: left;
  margin:0;
  padding:0;
  /* color:red; */
  line-height: 19px;

}

.n-education-div{
  /* border:1px solid red; */
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
margin-top: 0px;
width: 188px;
/* height: 74px;   */
}

.n-education-div>h3{
  margin-bottom: -5px;
}

.n-education-div>div>div{
  /* Auto layout */
  /* border: 1px solid red; */
display: flex;
align-items: center;
padding: 0px;
gap: 6px;
width: 188px;
margin-bottom: 10px;
}

.n-education-div>div>div>.css-i4bv87-MuiSvgIcon-root{
  color:#4B4BDA;
}

.n-technical-section{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;
margin-top:-15px;
width: 188px;
/* border:1px solid red; */
}

.n-softskills-section{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
width: 188px;
margin-top: -15px;
}


.n-interest-section{
  margin-top: -15px;
}

.n-achievements-section{
  display: flex;
  flex-direction: column;
  gap:5px;
}

.n-achievements-section>h3{
  margin-bottom: -9px;
}
  .n-list{
    width: 168px;
  /* height: 16px; */
  font-family: "Roboto", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-decoration: none ;
  }
  
  .ul-n{
    list-style-position: outside;
    text-align: justify;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 8px 0 8px 0;
  }

  .techi{
    /* border:1px solid black; */
    display:flex;
    flex-direction: column;
    gap:28px;
  }

  .n-technical-section>p ,.n-softskills-section>div>p,.n-interest-section>p{
    line-height: 19px;
  }