.Temp2 *{
 
  margin: 0px;
  padding: 0px;
}
.accom{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.Temp2{
  margin-top: 70px !important;
  width: 595px;
  height: 842px;
  border: 2px solid black;
  margin: auto;
}
.sskills{
  font-size: 12px;
}
.skills{
  display: flex;
  flex-wrap: wrap;
  column-gap: 3%;
}

.sskills>p{
  font-size: 12px;
}
.section{
  
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 42% auto;
}
.section>div>div{
  width: 90%;
  margin: auto;
  
}
.box{
  border: 2px solid pink;
}
.edu{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}