.left-container,.universal,.profile-div,.contact-section,.education-section,.technical-section,.tech,.softskills-section,.interest-section,.achievements-section{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
}
.left-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  background-color: rgb(243, 234, 234);
}

.profile-div {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}

.profile-div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.contact-section > h4,.education-section > h4,.technical-section > h4,.softskills-section > h4, .interest-section > h4, .achievements-section > h4 {
  color: #3f6bad;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 10px;
  font-size: 11.5px;
}

.contact-section > div {
  
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 11.5px;
  gap: 10px;
  margin-top: 4px;
  font-weight: 400;
}

.contact-section{
    margin-top: -5px;
}

.contact-section > div > a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.technical-section > div {
  display: flex;
  flex-direction: column;
  
  font-size: 11.5px;
  gap: 4px;
  line-height: 20px;
}

.tech{
    font-size: 11.5px;
}

.technical-section{
    margin-top: -15px;
}

.achievements-section > li {
  margin-bottom: 2px;
  font-size: 11.5px;
  gap: 4px;
  line-height: 20px;
  list-style: outside;
}



.achievements-section{
    margin-top: -10px;
}


.softskills-section > h4 {
  
  margin-bottom: 0px;
}

.softskills-section {
  line-height: 20px;
  font-size: 11.5px;
  margin-top: -14px;
}


.education-section>div{
    display:flex;
    font-size: 11.5px;
    margin-bottom: 10px;
    gap:10px;
}

.education-section{
    margin-top: -10px;
}

.interest-section{
    margin-top: -10px;
    font-size:11.5px;
}