.universal,.right-container,.hr,.profile-desc,.work-exp,.job-profile,.project-section,.icons-div,.project-desc,.tech-stack,.area-of-response,.team-line{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}

.right-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.right-container > h1{
    font-weight: bold;
    letter-spacing: 1px;
    color:#335384;
    font-size: 30px;
}

.hr{
    border:none;
    border-top:2px solid gray;
    width:100%;
    margin-top: 8px;
    margin-bottom: 15px;
}

.profile-desc > p{
    font-size: 12px;
}

.project-section{
    font-size: 11px;
    display: grid;
    gap:10px;
}

.project-section > h4{
    color:#3f6bad;
    font-weight: 600;
    margin-top: 10px;
    font-size: 14px;
    margin-bottom:-15px;
}

.profile-desc{
    font-size: 15px;
}

.project-section >div >div>h4{
    color:#3f6bad;
    font-weight: 600;
    letter-spacing: 2px;
}

.project-section > div>div{
    display:flex;
    /* border:1px solid black; */
    line-height: 10px;
    gap:8px;
    align-items: center;
}

.project-section>div>div:nth-child(2){
    flex-direction: column;
    align-items: flex-start;
}

.tech-stack{
    display: flex;
    gap:5px;
}
.team-line{
    color:rgb(26, 22, 22);
    font-weight: 500;
    line-height: 12px;
}

.project-desc{
line-height: 15px;
font-size: 11px;
padding:0 !important;
}

.area-of-response{
    margin-top: 0px;
    margin-bottom: 0;
}

.work-exp{
    font-size: 11px;
    margin: 10px 10px 0px 0px;
    
    /* border:1px solid black; */
}

.work-exp> h4{
margin-bottom: 3px;
}

.job-profile{
    /* border:1px solid red; */
    display:flex;
    flex-wrap: wrap;
}


.icons-div{
    /* border:1px solid black; */
    /* display: flex !important; */
    /* align-items: flex-start  !important; */
    margin-bottom: 3px;
}



.css-i4bv87-MuiSvgIcon-root{
    font-size: 18px  !important;
}
.workDetails{
    font-size: 11px;
}
.work-exp > div > p{
    font-size:11px;
}