.universal,
.n-right-container,
.hr,
.n-profile-desc,
.work-exp,
.job-profile,
.project-section,
.icons-div,
.project-description,
.tech-stack,
.area-of-response,
.team-line {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}

.n-right-container {
  padding: 20px;
}

.n-right-container > h1 {
  font-weight: bold;
  letter-spacing: 1px;
  color: #335384;
  font-size: 32px;
  line-height: 44px;
  /* identical to box height */

  letter-spacing: 0.02em;
  color: #0a0103;
}

.n-right-container > h3 {
  color: #4b4bda;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.hr {
  border: none;
  border-top: 2px solid #cccccc;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 15px;
}

.n-profile-desc > h2,
.n-work-exp > h2,.n-project-section>h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.02em;
  margin-bottom: 0px;
  /* Primary/Red900 */

  color: #0a0103;
}

.n-sub-work-div,.n-summary{
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
/* or 167% */


/* Neutral/Grey800 */

color: #3B3435;
}

.n-project-section {
  display: grid;
  /* gap: 10px; */

}

.n-project-section >div{
  margin-top: -15px;
}

.sub-title-02{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
/* identical to box height */
letter-spacing: 0.02em;
color: #4B4BDA;
text-transform: capitalize;
margin-top: 25px;
margin-bottom: 0px;
/* display: flex; */
}

.n-proj-div{
  /* border:1px solid black;  */
  /* width: 343px; */
/* height: 120px; */
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
margin-top: -10px;
/* or 167% */
}

.project-description{
  font-size: 12px;
  margin-bottom: -20px;
  line-height: 20px;
  /* margin-top: -5px; */
}

.icons-div{
display: flex;
gap:5px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
/* identical to box height */
letter-spacing: 0.02em;
color: #4B4BDA;
}

#n-li{
  line-height: 0.02em;
  font-size: 12px !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tech-stack>h4,.area-of-response{
  color:#4b4bda
}