.n-container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 795px;
  height: 1100px;
  margin: 70px auto;
  position:relative;
  font-family: "Roboto", sans-serif !important;
}

.n-container > div:nth-child(1) {
  border-right: 1px solid gray;
  position: absolute;
  box-sizing: border-box;
  width: 240px;
height: 100%;
left: 0px;
padding-bottom: 5px;

}
/* 595-220 = 375 */

.n-container > div:nth-child(2) {
  position: absolute;
  box-sizing: border-box;
  width: 550px;
height: 100%;
right: 0px;
top: 0px;

}
